<mat-toolbar color="warn">
    <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>line_weight</mat-icon>
  </button>
    <span>Variegation</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="displaySection='Chat'">
      <mat-icon>line_weight</mat-icon>
      <span>Chat</span>
    </button>
        <button mat-menu-item (click)="displaySection='Profile'">
      <mat-icon>accessibility</mat-icon>
      <span>Profile</span>
    </button>
        <button mat-menu-item (click)="onLogoutClick()">
      <mat-icon>settings_power</mat-icon>
      <span>Logout</span>
    </button>
    </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="container">
    <mat-sidenav #sidenav class="sidenav" mode="push">
        <button class="sideMenu" mat-raised-button color="primary" (click)="sidenav.close()" (click)="menuSelector='main'"> <mat-icon>highlight</mat-icon> The Light Room</button>
        <br> <br>
        <button class="sideMenu" mat-raised-button color="primary" (click)="sidenav.close()" (click)="menuSelector='data-show'"> <mat-icon>data_usage</mat-icon> Data Room</button><br>
        <br>
        <button class="sideMenu" mat-raised-button color="primary" (click)="sidenav.close()" (click)="menuSelector='musicbox'"> <mat-icon>music_note</mat-icon> Music Room</button><br>

    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <app-main *ngIf="menuSelector=='main'"></app-main>
        <app-data-show *ngIf="menuSelector=='data-show'"></app-data-show>
        <app-musicbox *ngIf="menuSelector=='musicbox'"></app-musicbox>


    </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar color="secondry">
    <a href="https://github.com/ersanyamarya/variegation" target="_blank"> &nbsp;
        <img src="https://www.shareicon.net/download/2015/09/15/101512_logo_512x512.png" alt="" width="40dp">

    </a>

    <span>Repo  <b> Variegation - Web tool for home automation </b></span>

    <span class="example-spacer"></span> Designed By:- &nbsp;
    <a href="https://sanyamarya.wordpress.com/" target="_blank">
        <img src="https://user-images.githubusercontent.com/28115284/28752842-881291c0-7546-11e7-9277-bd89186ca933.png" alt="">
    </a>
</mat-toolbar>
<!-- style="overflow: scroll;" #scrollMe [scrollTop]="scrollMe.scrollHeight" -->